<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" bootstrap="bootstrap.php" colors="true">
<testsuites>
  <testsuite name="Appfuel Framework">
	<directory suffix="Test.php">./lib/Test/Appfuel/Framework/Env</directory>
	<directory suffix="Test.php">./lib/Test/Appfuel/App</directory>
	<directory suffix="Test.php">./lib/Test/Appfuel/Data</directory>
	<directory suffix="Test.php">./lib/Test/Appfuel/View</directory>
	<directory suffix="Test.php">./lib/Test/Appfuel/Db</directory>
  </testsuite>
</testsuites>
</phpunit>
