<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" bootstrap="bootstrap.php" colors="true">
<testsuites>
	<testsuite name="Appfuel Tests">
<!--		
	<file>../lib/TestFuel/Test/Kernel/Mvc/ContextBuilderTest.php</file>
	<file>../lib/TestFuel/Test/Kernel/Mvc/MvcActionDispatcherTest.php</file>
	<directory suffix="Test.php">../lib/TestFuel/Test/View</directory>
		<directory suffix="Test.php">../lib/TestFuel/Test/View</directory>
		<directory suffix="Test.php">../lib/TestFuel/Test/Log</directory>
		<directory suffix="Test.php">../lib/TestFuel/Test/Http</directory>
		<directory suffix="Test.php">../lib/TestFuel/Test/Console</directory>
	<directory suffix="Test.php">../lib/TestFuel/Test/Db/Mysql/Mysqli</directory>
	<file>../lib/TestFuel/Test/Db/DbRequestTest.php</file>
	<file>../lib/TestFuel/Test/Db/DbResponseTest.php</file>
	<directory suffix="Test.php">../lib/TestFuel/Test/Error</directory>
	<directory suffix="Test.php">../lib/TestFuel/Test/Kernel</directory>
-->
	<directory suffix="Test.php">../lib/TestFuel/Unit/Console</directory>
	<directory suffix="Test.php">../lib/TestFuel/Unit/Http</directory>
	<file>../lib/TestFuel/Unit/Kernel/KernelRegistryTest.php</file>
	<file>../lib/TestFuel/Unit/Kernel/KernelOutputTest.php</file>
	<file>../lib/TestFuel/Unit/Kernel/IncludePathTest.php</file>
	</testsuite>
</testsuites>
</phpunit>
