<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" 
		 bootstrap="bootstrap.php" 
		 colors="true"
		 convertErrorsToExceptions="true">
<testsuites>
	<testsuite name="Appfuel Tests">
	<file>../package/Testfuel/Unit/Kernel/StartupTaskTest.php</file>
	<file>../package/Testfuel/Unit/Kernel/TaskHandlerTest.php</file>

	<file>../package/Testfuel/Unit/Kernel/Mvc/RequestUriTest.php</file>
	<file>../package/Testfuel/Unit/Kernel/Mvc/RouteAccessTest.php</file>
	<file>../package/Testfuel/Unit/Kernel/Mvc/RouteStartupTest.php</file>
	<file>../package/Testfuel/Unit/Kernel/Mvc/RouteInterceptTest.php</file>
	<file>../package/Testfuel/Unit/Kernel/Mvc/RouteViewTest.php</file>
	<file>../package/Testfuel/Unit/Kernel/Mvc/RouteActionTest.php</file>
	<file>../package/Testfuel/Unit/Kernel/Mvc/RouteDetailTest.php</file>

	<file>../package/Testfuel/Unit/App/AppInputTest.php</file>

	<file>../package/Testfuel/Unit/Config/ConfigBuilderTest.php</file>
	<file>../package/Testfuel/Unit/Config/ConfigLoaderTest.php</file>
	<file>../package/Testfuel/Unit/Config/ConfigRegistryTest.php</file>
	
	<file>../package/Testfuel/Unit/Console/ArgSpecTest.php</file>
	<file>../package/Testfuel/Unit/Console/ArgParserTest.php</file>
	
	<file>../package/Testfuel/Unit/Validate/FieldSpecTest.php</file>
	<file>../package/Testfuel/Unit/Validate/CoordinatorTest.php</file>
	<file>../package/Testfuel/Unit/Validate/ValidationFactoryTest.php</file>
	<file>../package/Testfuel/Unit/Validate/FieldValidatorTest.php</file>
	<file>../package/Testfuel/Unit/Validate/ValidationHandlerTest.php</file>
	<file>../package/Testfuel/Unit/Validate/Filter/FilterSpecTest.php</file>
	<file>../package/Testfuel/Unit/Validate/Filter/ValidationFilterTest.php</file>
	<file>../package/Testfuel/Unit/Validate/Filter/IntFilterTest.php</file>
	<file>../package/Testfuel/Unit/Validate/Filter/BoolFilterTest.php</file>
	<file>../package/Testfuel/Unit/Validate/Filter/EmailFilterTest.php</file>
	<file>../package/Testfuel/Unit/Validate/Filter/FloatFilterTest.php</file>
	<file>../package/Testfuel/Unit/Validate/Filter/IpFilterTest.php</file>
	
	<file>../package/TestFuel/Unit/Filesystem/FileFinderTest.php</file>
	<file>../package/TestFuel/Unit/Html/Resource/PkgTest.php</file>
	<file>../package/TestFuel/Unit/Html/Resource/ViewPkgTest.php</file>
	<file>../package/TestFuel/Unit/Html/Resource/PagePkgTest.php</file>
	<file>../package/TestFuel/Unit/Html/Resource/HtmlDocPkgTest.php</file>
	<file>../package/TestFuel/Unit/Html/Resource/ResourceFactoryTest.php</file>
	</testsuite>
</testsuites>
</phpunit>
