<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" 
		 bootstrap="bootstrap.php" 
		 colors="true"
		 convertErrorsToExceptions="true">
<testsuites>
	<testsuite name="Appfuel Tests">
	<file>../lib/Testfuel/Unit/Kernel/ConfigBuilderTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/ConfigLoaderTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/ConfigRegistryTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/StartupTaskTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/TaskHandlerTest.php</file>
	
	<file>../lib/Testfuel/Unit/Kernel/Mvc/AppInputTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/Mvc/AppInput_FailureTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/Mvc/RequestUriTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/Mvc/RouteAccessTest.php</file>
	<file>../lib/Testfuel/Unit/Kernel/Mvc/RouteStartupTest.php</file>

	<file>../lib/TestFuel/Unit/Filesystem/FileFinderTest.php</file>
	<file>../lib/TestFuel/Unit/Html/Resource/PkgTest.php</file>
	<file>../lib/TestFuel/Unit/Html/Resource/ViewPkgTest.php</file>
	<file>../lib/TestFuel/Unit/Html/Resource/PagePkgTest.php</file>
	<file>../lib/TestFuel/Unit/Html/Resource/HtmlDocPkgTest.php</file>
	<file>../lib/TestFuel/Unit/Html/Resource/ResourceFactoryTest.php</file>
	</testsuite>
</testsuites>
</phpunit>
