<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
		bootstrap="bootstrap.php"
		colors="true">
		<testsuites>
			<testsuite name="Appfuel Framework">
				<directory suffix="Test.php">./lib/Test/Appfuel/Framework/Env</directory>
				<file>./lib/Test/Appfuel/RegistryTest.php</file>
				<file>./lib/Test/Appfuel/App/FactoryTest.php</file>
				<file>./lib/Test/Appfuel/App/PrettyUriTest.php</file>
				<file>./lib/Test/Appfuel/App/RequestTest.php</file>
				<file>./lib/Test/Appfuel/App/MessageTest.php</file>
				<file>./lib/Test/Appfuel/App/RouteTest.php</file>
			</testsuite>
		</testsuites>
</phpunit>
