<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
		bootstrap="bootstrap.php"
		colors="true">
		<testsuites>
			<testsuite name="Appfuel">
				<!-- <directory suffix="Test.php">./Test/Appfuel/Framework/Init</directory> -->
				<file>./Test/Appfuel/Framework/Env/StateTest.php</file>
				<file>./Test/Appfuel/Framework/Env/PHPErrorTest.php</file>
				<file>./Test/Appfuel/Framework/Env/AutoloaderTest.php</file>
				<file>./Test/Appfuel/Framework/Env/IncludePathTest.php</file>
				<file>./Test/Appfuel/Framework/Env/InitializerTest.php</file>
			</testsuite>
		</testsuites>
</phpunit>
